body {
    background-image: url(descarga3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #0e2859;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}

form {
    margin: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

table {
    border-collapse: collapse;
    margin: 20px;
    width: 100%;
}

th, td {
    background-color: white;
    border: 1px solid #4e3987;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ce6c37;
}
